.a-task, .list{
  color: yellow;
  cursor:pointer;
}

#toDoForm {
  display: none;
}

.a-task:hover, .list:hover {
  text-decoration: underline;
}

body {
  background-image: url("img/background.jpg");
  color: white;
  font-family: 'Slabo 27px', serif;
  background-attachment: fixed;
  background-position: center;
}
