.a-task, .list{
  color: yellow;
  cursor:pointer;
}

#toDoForm {
  display: none;
}

.a-task:hover, .list:hover {
  text-decoration: underline;
}

body {
  background-image: url("img/background.jpg");
  color: white;
  font-family: 'Slabo 27px', serif;
  background-attachment: fixed;
  background-position: center;
}

.first-hidden, #done-title, #instructions{
  display: none;
}

.ourContainer{
  background: rgba(159,248,218,0.60);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  height: 100%;
}
